/************************************************       edit button's css                        ***/
.but_edit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   .but_edit:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   .but_edit:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   .but_edit span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 7px 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   .but_edit:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   /***********************        search button   ************************************************************/
   .container {
    position: relative;
    --size-button:45px;
    color: white;
  }
  
  .input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .input:focus,
  .input:not(:invalid) {
    width: 600px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .input:focus + .icon,
  .input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  
  .container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  
  .container .icon svg {
    width: 100%;
    height: 100%;
  }

  /*************************        TAble's Heading   Css ****************************************************/
  th{
    font-size: large;
    font-weight: 700;
  }
  /**************************************************************************************************************/


  /**********************   Pagination csss    ***********************************************************************/

  /* .demo{ background-color: #142328; } */
  .pagination-outer{ text-align: center; }
  .pagination{
      font-family: 'Kodchasan', sans-serif;
      border-radius: 40px;
      border: 2px solid black;
      overflow: hidden;
      display: inline-flex;
      position: relative;
  }
  .pagination li a.page-link{
      color:black;
      background-color: transparent;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      line-height: 43px;
      height: 45px;
      width: 65px;
      padding: 0;
      border: none;
      border-radius: 0;
      position: relative;
      z-index: 1;
  }
  .pagination li.active a.page-link,
  .pagination li a.page-link:hover,
  .pagination li.active a.page-link:hover{
      color: #fff;
      background: transparent;
      border: none;
  }
  .pagination li a.page-link:before,
  .pagination li a.page-link:after{
      content: '';
      height: 100%;
      width: 100%;
      border: 1px solid #000;
      border-top: none;
      border-bottom: none;
      transform: skewX(-16deg);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      transition: all 0.3s;
  }
  .pagination li a.page-link:after{
      background-color: #051c45;
      border: none;
      border-radius: 50%;
      transform: skewX(-16deg) scale(0);
  }
  .pagination li.active a.page-link:after,
  .pagination li a.page-link:hover:after,
  .pagination li.active a.page-link:hover:after{
      border-radius: 0;
      transform: skewX(-16deg) scale(1);
  }
  .pagination li:first-child a.page-link:before,
  .pagination li:last-child a.page-link:before{
      display: none;
  }
  .pagination li:first-child a.page-link:after{ left: -1px; }
  .pagination li:last-child a.page-link:after{
      left: auto;
      right: -1px;
  }
  @media only screen and (max-width: 480px){
      .pagination{
          padding: 10px 0;
          margin: 0;
          display: block;
      }
      .pagination li{ display: inline-block; }
      .pagination li a.page-link:before{ display: none; }
      .pagination li a.page-link:after{ transform: skew(0) scale(0); }
      .pagination li.active a.page-link:hover:after,
      .pagination li.active a.page-link:after,
      .pagination li a.page-link:hover:after{
          border-radius: 20px;
          transform: skew(0) scale(1);
      }
  }
  