<!-- <p>product-list works!</p> -->
<div class="container">
    <input type="text" name="text" class="input" required="" placeholder="Search By Name" aria-label="Search"
        [(ngModel)]="search_inp" name="search" (keyup)="search()">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="-200 1 600 550">
            <title>Search</title>
            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
                stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
                d="M338.29 338.29L448 448"></path>
        </svg>
    </div>
</div>
<div class="taable">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">PRICE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">OPTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventory of invent">
                <td>{{inventory.id}}</td>
                <td>{{inventory.prod_name}}</td>
                <td>{{inventory.price}}</td>
                <td>{{inventory.description}}</td>
                <td><button (click)="redirectToEdit(inventory)" class="but_edit">
                        <span>EDIT</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!invent.length" class="not_found">NO PRODUCTS

</div>

<!-- <router-outlet> </router-outlet>               -->
<!-- ------------------------------------------------------------- -->